[submodule "farming"]
	path = farming
	url = git://github.com/PilzAdam/farming.git
[submodule "deco"]
	path = deco
	url = git://github.com/turbogus/deco.git
[submodule "dirt"]
	path = dirt
	url = git://github.com/turbogus/dirt.git
[submodule "carts"]
	path = carts
	url = git://github.com/PilzAdam/carts.git
[submodule "farming_plus"]
	path = farming_plus
	url = git://github.com/PilzAdam/farming_plus.git
[submodule "calinou_mods"]
	path = calinou_mods
	url = git://github.com/Calinou/calinou_mods.git
[submodule "holo"]
	path = holo
	url = git://github.com/Jat15/holo.git
[submodule "mesecons"]
	path = mesecons
	url = git://github.com/Jeija/minetest-mod-mesecons.git
