[submodule "farming"]
	path = farming
	url = git://github.com/PilzAdam/farming.git
[submodule "deco"]
	path = deco
	url = git://github.com/turbogus/deco.git
[submodule "carts"]
	path = carts
	url = git://github.com/PilzAdam/carts.git
[submodule "farming_plus"]
	path = farming_plus
	url = git://github.com/PilzAdam/farming_plus.git
[submodule "holo"]
	path = holo
	url = git://github.com/Jat15/holo.git
[submodule "mesecons"]
	path = mesecons
	url = git://github.com/Jeija/minetest-mod-mesecons.git
[submodule "simplewall"]
	path = simplewall
	url = git://github.com/turbogus/simplewall.git
[submodule "corbeille"]
	path = corbeille
	url = git://github.com/Jat15/corbeille.git
[submodule "worldedit"]
	path = worldedit
	url = git://github.com/Uberi/MineTest-WorldEdit.git
