[submodule "carts"]
	path = carts
	url = git://github.com/PilzAdam/carts.git
[submodule "farming_plus"]
	path = farming_plus
	url = git://github.com/PilzAdam/farming_plus.git
[submodule "holo"]
	path = holo
	url = git://github.com/Jat15/holo.git
[submodule "mesecons"]
	path = mesecons
	url = git://github.com/Jeija/minetest-mod-mesecons.git
[submodule "simplewall"]
	path = simplewall
	url = git://github.com/turbogus/simplewall.git
[submodule "corbeille"]
	path = corbeille
	url = git://github.com/Jat15/corbeille.git
[submodule "worldedit"]
	path = worldedit
	url = git://github.com/Uberi/MineTest-WorldEdit.git
[submodule "plantlife"]
	path = plantlife
	url = git://github.com/VanessaE/plantlife.git
[submodule "fluide"]
	path = fluide
	url = git://github.com/turbogus/fluide.git
[submodule "calinou_mods"]
	path = calinou_mods
	url = git://github.com/Calinou/calinou_mods.git
[submodule "dirt"]
	path = dirt
	url = git://github.com/turbogus/dirt.git
[submodule "moretrees"]
	path = moretrees
	url = git://github.com/VanessaE/moretrees.git
